[Desktop Entry]
Name=REMOHELP PRO
GenericName=Remote Support
Comment=法人向け遠隔サポート
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=remote;support;remohelp;remohelppro;
Actions=new-window;
StartupWMClass=rustdesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=新しいウィンドウを開く
Exec=rustdesk %u
